<template>
  <div class="dashboard-widget inventory-levels">
    <h2 class="widget-title text-md-center">Inventory Levels</h2>
    <b-row>
      <b-col>
        <canvas width="100" height="69" id="inventoryLevelsChart" ref="inventoryLevelsChart"></canvas>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Chart from "chart.js"
import DummyData from "../models/DummyData.js";
import InventoryLevelsChartDataSource from "../models/dataSources/InventoryLevesChartDataSource.js";

export default {
  name: 'InventoryLevels',
  data() {
    return {
      chartDataSource: []
    }
  },
  created() {
    this.chartDataSource = new InventoryLevelsChartDataSource(DummyData.inventoryLevels());
  },
  mounted() {
    this.generateChart();
  },
  methods: {
    generateChart() {
      Chart.defaults.global.legend.display = false;
      let context = this.$refs.inventoryLevelsChart.getContext('2d');
      let chart = new Chart(context, {
        type: "bar",
        data: this.chartDataSource,
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              barThickness: 15,
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              gridLines: {
                display: false
              }
            }]
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  .inventory-levels {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .widget-title {
    padding-bottom: 2rem;
  }
</style>
