<template>
  <div class="dashboard-widget listing-statistics">
    <h2 class="widget-title text-md-center">Listing Statistics</h2>
    <b-row class="align-items-stretch justify-content-center">
      <b-col md="4" cols="8">
        <canvas width="200" height="200" id="listing-statistics-chart" ref="listingStatisticsChart"></canvas>
      </b-col>
      <b-col md="8" class="d-flex flex-column justify-content-between listing-stats">
        <b-row>
          <b-col class="listing-stat total-count">
            <span class="stat-sum">{{ totalCount }}</span>
            <span class="stat-label">total listing</span>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="3" cols="6" v-for="listingStat in listingStats" class="listing-stat">
            <span class="stat-sum d-inline-flex align-items-center">
              {{ listingStat.sum }}
              <span class="stat-label-badge" :style="{ backgroundColor: listingStat.color }"></span>
            </span>
            <span class="stat-label">{{ listingStat.status }} items</span>
            <span class="stat-percentage">{{ listingStat.percentage }}%</span>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Chart from "chart.js";
import Item from "../models/Item.js";
import ListingStatisticsDataSource from "../models/dataSources/ListingStatisticsDataSource.js";

export default {
  name: 'ListingStatistics',
  data() {
    return {
      chartDataSource: {},
      totalCount: 0,
      listingStats: []
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      Item.all().then(items => {
        let dataSource = new ListingStatisticsDataSource(items);
        this.chartDataSource = dataSource.chartData;
        this.listingStats = dataSource.listingStats;
        this.totalCount = dataSource.totalCount;
        this.generateChart();
      });
    },
    generateChart() {
      let context = this.$refs.listingStatisticsChart.getContext('2d');
      let chart = new Chart(context, {
        type: "doughnut",
        data: this.chartDataSource,
        options: {
          responsive: true,
          cutoutPercentage: "80",
          rotation: 0.25 * Math.PI,
          tooltips: {
            enabled: false
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  .listing-statistics {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }
  }

  .widget-title {
    padding-bottom: 2rem;
  }

  .listing-stats {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .listing-stat {
    color: #a1a1a1;

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.stat-sum {
        font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
        font-size: 1.6rem;
        line-height: 1.1;
        font-weight: bold;
      }

      &.stat-label {
        font-size: 0.75rem;
      }

      .stat-label-badge {
        margin-left: 0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
      }

      &.stat-percentage {
        font-size: 1.2rem;
      }
    }

    &.total-count {
      color: #A7CDA7;
      margin-bottom: 1rem;

      span.stat-sum {
        font-size: 2.66rem;
      }
    }
  }

  #listing-statistics-chart {
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }
</style>
