<template>
  <aside :class="{ active: hasUser }" class="sidebar">
    <a href="#" class="logo" @click="toggleSidebar">
      <span class="branding-text"><strong>Rapid</strong>Listing</span>
    </a>

    <div v-if="hasUser" class="user-label">
      <p class="name-label">
        <span class="first-name">{{ user.firstName }}</span>
        <span class="last-name">{{ user.lastName }}</span>
      </p>
      <p class="role-label">{{ user.username }}</p>
    </div>

    <nav class="menu">
      <ul class="list-unstyled">
        <li>
          <a href="#" class="navigation-link dashboard">
            <span class="navigation-link-label">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="navigation-link inventory">
            <span class="navigation-link-label">Inventory</span>
          </a>
        </li>
        <li>
          <a href="#" class="navigation-link listings">
            <span class="navigation-link-label">Listings</span>
          </a>
        </li>
        <li>
          <a href="#" class="navigation-link images">
            <span class="navigation-link-label">Images</span>
          </a>
        </li>
        <li>
          <a href="#" class="navigation-link settings">
            <span class="navigation-link-label">Settings</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="quick-links">
      <h2>Quick Links</h2>

      <ul class="list-unstyled">
        <li>
          <a href="#" class="navigation-link">
            <span class="navigation-link-label">Add New Item</span>
          </a>
        </li>
        <li>
          <a href="#" class="navigation-link">
            <span class="navigation-link-label">Create New Listing</span>
          </a>
        </li>
      </ul>
    </div>

    <p class="copyright">
      <small class="copyright">All rights reserved for World of Books Lts. {{ new Date().getFullYear() }}.</small>
    </p>
  </aside>
</template>

<script>
import User from "../models/User.js";

export default {
  name: 'Sidebar',
  props: {
    user: User
  },
  computed: {
    hasUser: function() {
      return this.user !== undefined;
    }
  },
  methods: {
    toggleSidebar() {
      this.$emit('sidebarToggle');
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  $padding-left: 1.5*$grid-gutter-width;
  $small-font-size: 0.75rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  .sidebar {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    padding-left: $padding-left;
    font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
    color: #fff;
  }

  .navigation-link {
    display: block;
    margin-left: -$padding-left;
    padding-left: $padding-left;
    font-weight: bold;
    text-transform: uppercase;
    background-position: 0.5rem center;
    background-repeat: no-repeat;

    .navigation-link-label {
      margin-right: 3rem;
      padding: 0.5rem 0;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .logo {
    display: block;
    margin-left: -$padding-left;
    padding-left: $padding-left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    background: url("../assets/logo-leafs.png") left center no-repeat;
  }

  .user-label {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .name-label {
      font-weight: bold;
      margin-bottom: 0;
      font-size: 1.2rem;

      .last-name {
        text-transform: uppercase;
      }
    }

    .role-label {
      margin-bottom: 0;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-size: $small-font-size;
      text-transform: lowercase;
    }
  }

  $menu-icons: dashboard, images, inventory, listings, settings;

  .menu {
    list-style: none;
    margin-bottom: 3rem;

    .navigation-link {
      @each $menu-icon in $menu-icons {
        &.#{$menu-icon} {
          background-image: url('../assets/icon-#{$menu-icon}.png');
        }
      }

      .navigation-link-label {
        margin-top: -1px;
        border-bottom: 1px solid rgba(#fff, 0.1);
      }
    }
  }

  .quick-links {
    h2 {
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-size: $small-font-size;
      text-transform: uppercase;
      color: rgba(#fff, 0.25);
    }
  }

  .copyright {
    margin-left: -0.5*$grid-gutter-width;
    margin-top: auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
</style>
