
<template>
  <div class="dashboard-widget sold-items">
    <b-row>
      <b-col md="8">
        <h2 class="widget-title">Sold items in the last 24 hrs</h2>
      </b-col>
      <b-col md="4">
        <b-button-toolbar class="sold-item-actions justify-content-md-end">
          <b-button-group>
            <b-btn variant="link" @click="getItems()" class="px-0">See Full List…</b-btn>
          </b-button-group>
        </b-button-toolbar>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
      <b-list-group flush>
        <b-list-group-item v-for="item in items">
          <span>{{ item.title }}</span>
        </b-list-group-item>
      </b-list-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Item from "../models/Item.js";

export default {
  name: 'SoldItems',
  data() {
    return {
      items: []
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.getItems(16);
    },
    getItems(limit) {
      Item.all().then(items => {
        items = items.filter(item => item.status == "sold");

        if (limit === undefined) {
          this.items = items;
        } else {
          this.items = items.slice(0, limit)
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  .sold-items {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    color: #a1a1a1;
  }


  @include media-breakpoint-up(md) {
    .list-group {
      padding-top: 1rem;
      padding-bottom: 1rem;
      justify-content: space-between;
      flex-flow: row wrap;

      &:after {
        display: block;
        content: " ";
        position: relative;
        margin-top: -2px;
        width: 100%;
        height: 4px;
        background-color: #fff;
        z-index: 10;
      }
    }

    .list-group-item {
      width: calc(100% / 2 - 15px);
      border: 0;
      border-bottom: 1px solid #ddd !important;
      margin-bottom: 0;

      span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
</style>
