<template>
  <b-navbar toggleable type="light" class="toolbar row no-gutters" fixed="top">
    <b-navbar-nav class="col-lg-8 searchbar">
      <b-nav-form>
        <b-input class="search-field" placeholder="Search in RapidListing" />
      </b-nav-form>
    </b-navbar-nav>
    <b-navbar-nav class="col account-dropdown">
      <b-nav-item-dropdown text="XYZ Ebay Account" right>
        <b-dropdown-item href="#" v-for="account in accounts">
          <span class="dropdown-item-label">{{ account.title }}</span>
          <span class="account-status" :class="{ offline: !account.available }"></span>
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
    <b-navbar-nav class="col toolbar-actions">
      <b-nav-item-dropdown text="" class="toolbar-action notifications" right>
        <b-dropdown-item href="#" v-for="notification in notifications">
          <span class="dropdown-item-label">{{ notification.title }}</span>
          <time class="notification-timestamp">{{ notification.timestamp }}</time>
        </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item href="#" class="toolbar-action add">Add New Item</b-nav-item>
      <b-nav-item href="#" class="toolbar-action logout">Sign Out</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
  export default {
    name: 'Toolbar',
    props: ['notifications', 'accounts']
  };
</script>

<style lang="scss" scoped>
  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  $primary-font-color: #a1a1a1;
  $border-color: #ddd;
  $height: 3.5rem;

  .toolbar {
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
  }

  .navbar-nav {
    height: $height;
    border-right: 1px solid $border-color;
  }

  /deep/ .nav-link.dropdown-toggle {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /deep/ .dropdown-menu {
    margin-top: 0;
    padding: 0;
    left: -1px !important;
    right: -1px !important;
    border: 1px solid $border-color;
    border-radius: 0;

    a {
      color: $primary-font-color;
    }

    .dropdown-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
      outline: none;
      border-bottom: 1px solid $border-color;

      &:active {
        color: #fff;
      }

      &:last-child {
        border-bottom: 0;
      }

      .dropdown-item-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 0.5rem;
      }
    }
  }

  .searchbar form, .search-field {
    width: 100%;
  }

  .search-field {
    padding-left: 3.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 0.75rem;
    background: url("../assets/icon-magnifying-glass.png") 1rem center no-repeat;
    border: 0;
    border-radius: 0;
    transition: background-color 0.15s ease-out;

    &:focus {
      box-shadow: none;
      background-color: #f4f4f4;
    }

    &::-webkit-input-placeholder {
      text-transform: uppercase;
    }

    &::-moz-placeholder {
      text-transform: uppercase;
    }

    &:-ms-input-placeholder {
      text-transform: uppercase;
    }

    &:-moz-placeholder {
      text-transform: uppercase;
    }
  }

  .account-dropdown {
    @include media-breakpoint-down(md) {
      display: none;
    }

    .dropdown {
      width: 100%;
      font-size: 0.75rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .account-status {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      flex: 0 0 0.5rem;
       background-color: #A7CDA7;

      &.offline {
        background-color: #E9E9E9;
      }
    }
  }

  /deep/ .toolbar-actions {
    display: flex;
    flex: 0 0 $height*3;
    border-right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    .toolbar-action {
      width: $height;
      position: relative;
      display: flex;

      .nav-link {
        width: 100%;
        position:  relative;
        text-indent: -9999px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      $toolbar-action-icons: notifications, add, logout;

      @each $toolbar-action-icon in $toolbar-action-icons {
        &.#{$toolbar-action-icon} .nav-link {
          background-image: url('../assets/icon-#{$toolbar-action-icon}.png');
        }
      }

      &.add .nav-link {
        background-color: #A7CDA7;
      }

      &.notifications {
        .dropdown-menu {
          left: auto !important;
        }
      }

      .notification-timestamp {
        color: #A8CDA7;
      }
    }
  }
</style>