<template>
  <div class="dashboard-widget user-performance">
    <h2 class="widget-title text-md-center">User performance</h2>
    <b-row class="user-badges">
      <b-col cols="6" md="2" v-for="user in users" class="user-badge">
        <span class="user-avatar" :style="{ backgroundImage: 'url('+ user.photo.thumbnailUrl +')' }"></span>

        <span class="user-full-name">{{ user.fullName }}</span>
        <span class="user-items-count">{{ user.items | itemsLabel }}</span>
        </span>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import User from "../models/User.js";

export default {
  name: 'UserPerformance',
  data() {
    return {
      users: []
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      User.all().then(users => {
        for (let user of users) {
          user.getPhoto().then(photo => {
            user.getItems().then(items => {
              this.users.push(user)
            })
          });
        }
      })
    }
  },
  filters: {
    itemsLabel(value) {
      if (value.length == 0) {
        return "No item listed";
      } else if (value.length == 1) {
        return "1 item listed";
      } else {
        return `${value.length} items listed`;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
  .user-performance {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .user-badges {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .user-badge {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #a1a1a1;
    text-align: center;

    $height-avatar: 3.85rem;

    .user-avatar {
      display: block;
      width: $height-avatar;
      height: $height-avatar;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      background-color: #E9E9E9;
      border-radius: $height-avatar / 2;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .user-full-name, .user-items-count {
      display: block;
    }

    .user-items-count {
      color: #A8CDA7;
    }
  }
</style>
