<template>
  <main id="app" :class="{ 'collapsed-sidebar': collapsedSidebar, 'toggled-sidebar': toggledSidebar }">
    <b-container fluid class="main-container">
      <b-row>
        <b-col class="sidebar-container">
          <sidebar :user="currentUser" v-on:sidebarToggle="toggleSidebar" />
        </b-col>
        <b-col class="content-container">
          <toolbar :notifications="notifications" :accounts="accounts" />

          <section class="dashboard-section dashboard-widget account-completion">
            <b-container>
              <h2 class="widget-title">Your account is not yet complete</h2>
              <b-row align-h="center">
                <b-col cols="2" class="account-completion-step completed">
                  <span>Setup your companies account data</span>
                </b-col>
                <b-col cols="2" class="account-completion-step completed">
                  <span>Join an eBay account to your profile</span>
                </b-col>
                <b-col cols="2" class="account-completion-step">
                  <span>Invite your colleagues</span>
                </b-col>
                <b-col cols="2" class="account-completion-step">
                  <span>Create an inventory item</span>
                </b-col>
                <b-col cols="2" class="account-completion-step">
                  <span>List an item on eBay</span>
                </b-col>
              </b-row>
            </b-container>
          </section>

          <section class="dashboard-section">
            <b-container>
              <b-row>
                <b-col md="4">
                  <inventory-levels />
                </b-col>
                <b-col md="8">
                  <listing-statistics />
                </b-col>
              </b-row>
            </b-container>
          </section>

          <section class="dashboard-section">
            <b-container>
              <sold-items />
            </b-container>
          </section>

          <section class="dashboard-section">
            <b-container>
              <user-performance />
            </b-container>
          </section>

        </b-col>
      </b-row>
    </b-container>
  </main>
</template>

<script>
  import Sidebar from "./components/Sidebar.vue";
  import Toolbar from "./components/Toolbar.vue";
  import SoldItems from "./components/SoldItems.vue";
  import InventoryLevels from "./components/InventoryLevels.vue";
  import ListingStatistics from "./components/ListingStatistics.vue";
  import UserPerformance from "./components/UserPerformance.vue";
  import User from "./models/User.js";
  import DummyData from "./models/DummyData.js"

  export default {
    name: 'app',
    components: {
      Sidebar, Toolbar, SoldItems, UserPerformance, InventoryLevels, ListingStatistics
    },
    created() {
      this.init();
    },
    mounted() {
      window.addEventListener('resize', this.collapseSidebar);
      this.collapseSidebar()
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.collapseSidebar);
    },
    data() {
      return {
        currentUser: undefined,
        collapsedSidebar: false,
        toggledSidebar: false
      }
    },
    methods: {
      init() {
        User.find(1).then(user => this.currentUser = user);
        this.notifications = DummyData.notifications;
        this.accounts = DummyData.accounts;
      },
      collapseSidebar(event) {
        if (window.innerWidth <= 1200) {
          this.collapsedSidebar = true;
        } else {
          this.collapsedSidebar = false;
        }

        this.toggledSidebar = false;
      },
      toggleSidebar(event) {
        this.toggledSidebar = !this.toggledSidebar
      }
    },
  };
</script>

<style lang="scss">
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

$sidebar-width: 11*$grid-gutter-width;
$sidebar-width-md: 2*$grid-gutter-width;

html {
  /* Matching the size of default bootstrap grid gutter: 15px/16px = 0.9375 */
  font-size: 93.75%;

  @include media-breakpoint-down(sm) {
    font-size: 81.25%;
  }
}

#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.active {
  animation: fadeIn 0.25s ease-out backwards;
}

.sidebar-container {
  position: fixed;
  width: $sidebar-width;
  top: 0;
  bottom: 0;
  z-index: $zindex-fixed + 1;
  background-color: #31415B;
}

.content-container {
  position: relative;
  margin-left: $sidebar-width;

  @include media-breakpoint-down(sm) {
    padding-top: 4rem;
  }
}

.toolbar {
  left: $sidebar-width;
}

.dashboard-section {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #ddd;

  .container {
    margin-left: 0;
  }
}

.dashboard-section.account-completion {
  padding-top: 6rem;
  background-color: #F6F6F6;
}

.dashboard-widget {
  .widget-title {
    font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #A1A1A1;
    text-transform: uppercase;
  }
}

.account-completion {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.account-completion .widget-title {
  text-align: center;
}

.account-completion .widget-title:after {
  position: relative;
  display: block;
  content: " ";
  width: 68.75%;
  height: 1px;
  top: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd;
}

.account-completion-step {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #a1a1a1;
  text-align: center;

  $height-completion-badge: 3.85rem;

  span:before {
    display: block;
    content: " ";
    width: $height-completion-badge;
    height: $height-completion-badge;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: #199DD9;
    border-radius: $height-completion-badge / 2;
    border: 0.25rem solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow:  0 0 0 0.5rem #F6F6F6;
  }

  &.completed {
    span:before {
      background-color: #A7CDA7;
      background-image: url("./assets/checkbox.png");
    }
  }
}

.collapsed-sidebar {
  .sidebar-container {
    overflow: hidden;
    width: $sidebar-width-md;
    transition: width 0.15s ease-out;

    .copyright, .user-label, .branding-text {
      display: none;
    }

    .logo {
      margin-top: 1rem;
      margin-bottom: 3rem;
      padding: 0;
      width: $grid-gutter-width;
      height: $grid-gutter-width / 2;
      background-image: url('assets/icon-sidebar-toggle.png');
      background-position: 0.225*$grid-gutter-width center;
    }
  }

  .content-container {
    margin-left: $sidebar-width-md;
  }

  .toolbar {
    left: $sidebar-width-md !important;
  }

  &.toggled-sidebar {
    .sidebar-container {
      overflow: auto;
      width: $sidebar-width;

      .logo {
        margin-left: auto;
        transform: scaleX(-1);
      }
    }
  }
}

</style>
